/* Current Colour Palette
https://colorhunt.co/palette/f0e9d2e6ddc4678983181d31
https://colorhunt.co/palette/f7ecdee9dac19ed2c654bab9*/
body {
  background-color: #E9DAC1;
}

hr {
  border-style: dotted none none;
  border-color: #181D31;
  border-width: 5px;
  height: 0px;
  width: 5%;
}

h1 {
  color: #678983;
}

h3{
  color: #678983;
}

a:link {
  color: #9ED2C6;
}

a:visited {
  color: #9ED2C6;
}
